# Frontend environment variables
VITE_API_URL=https://pharmaguard-backend-d36m.onrender.com

# Backend environment variables
PYTHON_BACKEND_URL=https://pharmaguard-ml.onrender.com/analyze
PYTHON_VALIDATOR_URL=https://pharmaguard-ml.onrender.com/validate